

    <div class="uk-container uk-flex uk-flex-center">
        <h2 id="signup">SignUp</h2>
    </div>

    <div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-grid>

        {{!-- Form--}}
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <form action="/auth/signup" method="post">
                        <h2>Tell us about your story!</h2>
                        
                    {{!-- Inputs --}}
                    <fieldset class="uk-fieldset">

                        {{!-- Input for the name --}}
                        <legend class="uk-legend">Name</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Juan" name="name">
                        </div>
                            
                        {{!-- Input for the last name --}}
                        <legend class="uk-legend">Last name</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Perez" name="lastName">
                        </div>

                        {{!-- Input for the email --}}
                        <legend class="uk-legend">Email</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="juan@perez.com" name="email">
                        </div>

                        {{!-- Input for the password --}}
                        <legend class="uk-legend">Password</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="password" placeholder="******" name="password">
                        </div>
                            
                        {{!-- input for the date --}}
                        <legend class="uk-legend">Your birthdate</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="date" name="dateOfBirth">
                        </div>

                        {{!-- Select for the country --}}
                        <legend class="uk-legend">Country</legend>
                        <div class="uk-margin">

                            <select name="country" class="uk-select">
                              <option value="">Please choose a country</option>
                              <option value="Argentina">Argentina</option>
                              <option value="Bolivia">Bolivia</option>
                              <option value="Brasil">Brasil</option>
                              <option value="Canada">Canada</option>
                              <option value="Chile">Chile</option>
                              <option value="Colombia">Colombia</option>
                              <option value="Hungria">Hungria</option>
                              <option value="Mexico">Mexico</option>
                              <option value="Usa">Usa</option>
                            </select>

                        </div>

                        {{!-- Input about you --}}
                        <legend class="uk-legend">About you</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Tell us something about you!" name="aboutUser">
                        </div>

                        {{!-- Input for the occupation --}}
                        <legend class="uk-legend">Occupation</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Student" name="occupation">
                        </div>

                        {{!-- Input for a phot link --}}
                        <legend class="uk-legend">Add a Photo!</legend>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Paste the link of you photo here" name="profilePic">
                        </div>

                        {{!-- Button to post --}}
                        <div class="uk-margin uk-flex uk-flex-column uk-flex-middle">
                            <button class="uk-button uk-button-secondary uk-width-1-1" type="submit">Login</button>
                        </div>
                    </fieldset>

                    {{#if errorMessage}}
                      <p class="error">{{errorMessage}}</p>
                    {{/if}}
                    
                </form> 
            </div>
        </div>

        {{!-- Image --}}
        <div>
                <div class="uk-card uk-card-body">

                    <img class="pic-signup" src="/images/pic-for-signup.jpeg" alt="travelling by car" uk-cover/>
                
                </div>
        </div>

    </div>       