    <div uk-scrollspy="cls: uk-animation-fade; target: .uk-card, #developersTitle, #repository; delay: 400;">

        {{!-- Title --}}
        <div id="developersTitle" class="uk-container uk-flex uk-flex-column uk-flex-middle">
            <h1>Developers</h1>
        </div>

        {{!-- Grid for the info --}}
        <div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-grid>

            {{!-- Rodrigo's info--}}
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle">

                    <img src="" alt="">
                    <p class="uk-text-lead">Rodrigo Pinzon</p>
                    <p class="uk-text-lead uk-text-lighter">Colombia</p>
                    <div>
                        <a href="" class="uk-icon-link" uk-icon="linkedin"></a>
                        <a href="" class="uk-icon-link" uk-icon="github"></a>
                    </div>

                </div>
            </div>

            {{!-- Omar's info --}}
            <div>
                <div class="uk-card uk-card-body uk-card-hover uk-flex uk-flex-column uk-flex-middle">

                    <img src="" alt="">
                    <p class="uk-text-lead">Omar Meza</p>
                    <p class="uk-text-lead uk-text-lighter">Mexico</p>
                    <div>
                        <a href="" class="uk-icon-link" uk-icon="linkedin"></a>
                        <a href="" class="uk-icon-link" uk-icon="github"></a>
                    </div>
                
                </div>
            </div>

        </div>   

        {{!-- Button for the github repository of the project --}}
        <div class="uk-container uk-flex uk-flex-column uk-flex-middle">
            <a id="repository" class="uk-button uk-button-text" href="https://github.com/OmarMeza15/Proyecto-2">Click to check the repository of the project!</a>
        </div>    

    </div>