    <div uk-scrollspy="cls: uk-animation-fade; target: .uk-card, #developersTitle, #repository; delay: 400;">

        {{!-- Title --}}
        <div id="developersTitle" class="uk-container uk-flex uk-flex-column uk-flex-middle">
            <h1 id="aboutTitle" >Developers</h1>
        </div>

        {{!-- Grid for the info --}}
        <div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-grid>

            {{!-- Rodrigo's info--}}
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle">

                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQGr8X_Qxnz4Og/profile-displayphoto-shrink_200_200/0/1572533563381?e=1674691200&v=beta&t=yU08JF_sRd7XE_Gh8dZ7-7nP0zpDTVSLsAB8hMl32bY" width="150" height="150" class="uk-border-circle">
                    <p class="uk-text-lead">Rodrigo Pinzon</p>
                    <p class="uk-text-lead uk-text-lighter">Colombia</p>
                    <div>
                        <a href="https://www.linkedin.com/in/rodrigo-pinzon-martinez-70736b130/" class="uk-icon-link" uk-icon="linkedin" target="_blank"></a>
                        <a href="https://github.com/Ropinmar" class="uk-icon-link" uk-icon="github" target="_blank"></a>
                    </div>

                </div>
            </div>

            {{!-- Omar's info --}}
            <div>
                <div class="uk-card uk-card-body uk-card-hover uk-flex uk-flex-column uk-flex-middle">

                    <img src="https://avatars.githubusercontent.com/u/104107525?v=4" width="150" height="150" class="uk-border-circle">
                    <p class="uk-text-lead">Omar Meza</p>
                    <p class="uk-text-lead uk-text-lighter">Mexico</p>
                    <div>
                        <a href="https://www.linkedin.com/in/omarmezajarquin" class="uk-icon-link" uk-icon="linkedin" target="_blank"></a>
                        <a href="https://github.com/OmarMeza15" class="uk-icon-link" uk-icon="github" target="_blank"></a>
                    </div>
                
                </div>
            </div>

        </div>   

        {{!-- Button for the github repository of the project --}}
        <div class="uk-container uk-flex uk-flex-column uk-flex-middle">
            <a id="repository" class="uk-button uk-button-text" href="https://github.com/OmarMeza15/Proyecto-2">Click to check the repository of the project!</a>
        </div>    

    </div>