{{!-- Header Home--}}
    <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/previewImage/PowerfulReasons_hero.jpg');" uk-scrollspy="cls: uk-animation-fade; delay: 400; target: div, h1, p, a;">
        <div class="overlayImage">

            <h1 id="welcomeTitle" class="uk-text-center">Tell your stories</h1>
            <p class="welcomeText uk-margin-remove-vertical">Don't let beautiful memories fade.</p>
            <p class="welcomeText uk-margin-remove-vertical">Quickly revisit moments from the past.</p>
            <p class="welcomeText uk-margin-remove-vertical">Start posting now and share with everyone else!</p>
            <a id="postButton" class="uk-button uk-button-default uk-align-center" href="/create">Click to start a new post!</a>

        </div>
    </div>

    <hr class="hrWelcome">    
    

{{!-- Title Countries--}}
    <div class="uk-container uk-container-small uk-height-small uk-flex uk-flex-bottom uk-flex-center" uk-scrollspy="cls: uk-animation-fade; delay: 400;">    
        <h2><span>Get to know different countries through our users</span></h2>  
    </div>    

{{!-- Country cards --}}
    <div id="cards" class="uk-child-width-1-4@m uk-flex uk-flex-center" uk-scrollspy="cls: uk-animation-fade; target: .uk-card, .uk-button; delay: 400;" uk-grid>

        {{!-- Colombia --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://i.natgeofe.com/n/8a28d3d1-f6cc-4769-a525-48af2628c1a3/natgeo_2726358_3x4.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://www.worldatlas.com/r/w768/upload/c6/61/c2/santuario-de-las-lajas-ipiales-colombia-2015-07-21-dd-19.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://www.sherlockcomms.com/wp-content/uploads/2021/01/brief-history-of-colombia.jpg" alt="" uk-cover>
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">Colombia</h3>
                </div>

            </div>
        </div>

        {{!-- Mexico --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://imageio.forbes.com/specials-images/imageserve/632246570702aadde6451586/San-Miguel-de-Allende-Mexico/960x0.jpg?format=jpg&width=960" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://r1.ilikewallpaper.net/iphone-wallpapers/download/75747/Light-in-the-Darkness-iphone-wallpaper-ilikewallpaper_com.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://www.thetimes.co.uk/travel/wp-content/uploads/sites/6/2018/11/shutterstock_510095692.jpg?w=2200&h=880&crop=1" alt="" uk-cover>
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">Mexico</h3>
                </div>

            </div>
        </div>

        {{!-- United States --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://i.natgeofe.com/k/9a6a835f-70cc-48f8-a697-12ec77728e7f/united-states-zion-canyon.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://viatravelers.com/wp-content/uploads/2021/10/Statue-of-Liberty-National-Monument.jpg.webp" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://www.attractionsofamerica.com/images/thingstodo/20201121094906_famous-landmarks-usa_1.jpg" alt="" uk-cover>
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">United States</h3>
                </div>

            </div>
        </div>

        {{!-- Hungary --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://cdn.cnn.com/cnnnext/dam/assets/170606121113-hungary---travel-destination---shutterstock-367955912.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://i.natgeofe.com/k/ee89c8e4-abae-442e-9d0a-33ea9f1270e7/hungary-baths.jpg?w=636&h=424" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://nomadparadise.com/wp-content/uploads/2020/11/hungarian-cities-pecs-1024x683.jpg.webp" alt="" uk-cover>
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">Hungary</h3>
                </div>

            </div>
        </div>

        {{!-- Button to catalogue --}}
        <div class="uk-container uk-text-center uk-margin-large">
            <a class="uk-button uk-button-text" href="/country/catalogue">Click to know more!</a>
        </div>

    </div>

{{!-- Examples section --}}
    <div class="uk-container uk-container-large uk-height-medium uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-scrollspy="cls: uk-animation-fade; target: h1, p; delay: 400;">

        <div class="uk-container uk-container-small">
            <h1 id="exampleTitle" class="uk-heading-line uk-text-center"><span>Start Posting</span></h1>
            <p>Capture your adventures in a digital diary that you can share with friends and family.</p>
        </div>

    </div>

{{!-- Examples --}}
    <div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 400;" uk-grid>

        {{!-- Slideshow --}}
        <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">

                    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 3:4; animation: fade; autoplay: true; autoplay-interval: 6000" tabindex="-1" uk-slideshow>

                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="https://www.ourescapeclause.com/wp-content/uploads/2016/12/shutterstock_1322105165-scaled.jpg" alt="" uk-cover>
                            </li>
                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                    </div>

                </div>

        </div>

        {{!-- Body of post --}}
        <div>   
                <div class="uk-card uk-card-body">
                    <article class="uk-article">

                        <h1 id="postTitle" class="uk-article-title uk-text-capitalize">My First Ever Trip to Mexico City!</h1>

                        <p class="uk-article-meta">Written on 25/11/2022.</p>

                        <p class="uk-text-lead uk-text-capitalize">Mexico</p>

                        <p class="uk-text uk-text-lighter">10/11/2022</p>

                        <p>I am just blown away by the city. It is so beautiful. I explored the different neighborhoods (outside of Roma, Condesa, Polanco) and really loved the San Angel neighborhood (so fancy). THE FOOD SCENE is the best I have ever seen. There are countless restaurants, cafes, and bars and I did my best to make sure I was able to eat at some popular places like Maque, El Cardinal, Eno, and other places. I miss the Chilaquiles and the Enchiladas I ate for breakfast and the Concha and Pan De Muerto. I am sitting here thinking about the delicious food that I ate and I miss all of it, along with Mexico City. The greenery, the parks, the museums.</p>

                    </article>
                </div>
        </div>

    </div>  

{{!-- About section --}}
    <div class="uk-container uk-container-large uk-height-large uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-scrollspy="cls: uk-animation-fade; target: h1, p, a; delay: 400;">

        <div class="uk-container uk-container-small">

            <h1 id="aboutTitle" class="uk-heading-line uk-text-center"><span>About</span></h1>
            <p class="uk-margin-remove-vertical uk-text-center">You want to know who is behind this application?</p>
            <p class="uk-margin-remove-vertical uk-text-center">Or maybe you want to know how we made this possible?</p>

        </div>
        
        {{!-- Button to catalogue --}}
        <div class="uk-container">
            <a id="buttonAbout" class="uk-button uk-button-text" href="/about">Click to find out!</a>
        </div>

    </div>    

    

