{{!-- Header Home--}}
    {{!-- <div class="uk-container uk-container-expand uk-height-large uk-flex uk-flex-column uk-flex-center" uk-scrollspy="cls: uk-animation-fade; target: h1, p, div, a; delay: 400;">

        <div>
            <div id="header" class="uk-container uk-flex uk-flex-column uk-flex-middle uk-text-center">
                <h1 class="uk-text-center"><span>Welcome!</span></h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Assumenda accusamus aperiam voluptate tempore aliquid praesentium dicta esse nesciunt provident vel enim magnam dolore odit voluptatem.</p>  
            </div>
            
            
            <div class="uk-height-small uk-background-cover uk-light uk-flex uk-flex-column uk-flex-center" uk-parallax="bgy: -200" style="background-image: url('https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/previewImage/PowerfulReasons_hero.jpg');">
                <div class="uk-overlay-default uk-position-cover"></div>
                <div class="uk-overlay uk-position-center">
                    <a id="button" class="uk-button uk-button-secondary  uk-align-center" href="/create">Click to find out!</a>
                </div>
            </div>
        </div>

    </div> --}}

    <div class="uk-container uk-container-expand">

        <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/previewImage/PowerfulReasons_hero.jpg');">
            <div class="uk-overlay uk-overlay-default"></div>
            <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Headline</h1>

        </div>    
    
    </div>

    {{!-- Title Countries--}}
    <div class="uk-container uk-container-small uk-height-small uk-flex uk-flex-bottom uk-flex-center" uk-scrollspy="cls: uk-animation-fade; delay: 400;">    
        <h2><span>Some countries of our users</span></h2>  
    </div>    

{{!-- Country cards --}}
    <div id="cards" class="uk-child-width-1-4@m uk-flex uk-flex-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card, .uk-button; delay: 400;">

        {{!-- Colombia --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://r1.ilikewallpaper.net/iphone-wallpapers/download/75747/Light-in-the-Darkness-iphone-wallpaper-ilikewallpaper_com.jpg" alt="" >
                        </li>

                        <li>
                            <img src="https://c0.wallpaperflare.com/preview/594/496/44/mexico-tulum-beach-sun.jpg" alt="" >
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">Colombia</h3>
                </div>

            </div>
        </div>

        {{!-- Mexico --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://r1.ilikewallpaper.net/iphone-wallpapers/download/75747/Light-in-the-Darkness-iphone-wallpaper-ilikewallpaper_com.jpg" alt="" >
                        </li>

                        <li>
                            <img src="https://c0.wallpaperflare.com/preview/594/496/44/mexico-tulum-beach-sun.jpg" alt="" >
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">Mexico</h3>
                </div>

            </div>
        </div>

        {{!-- United States --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://r1.ilikewallpaper.net/iphone-wallpapers/download/75747/Light-in-the-Darkness-iphone-wallpaper-ilikewallpaper_com.jpg" alt="" >
                        </li>

                        <li>
                            <img src="https://c0.wallpaperflare.com/preview/594/496/44/mexico-tulum-beach-sun.jpg" alt="" >
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">United States</h3>
                </div>

            </div>
        </div>

        {{!-- Hungary --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="ratio: 3:4; animation: fade">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://r1.ilikewallpaper.net/iphone-wallpapers/download/75747/Light-in-the-Darkness-iphone-wallpaper-ilikewallpaper_com.jpg" alt="" >
                        </li>

                        <li>
                            <img src="https://c0.wallpaperflare.com/preview/594/496/44/mexico-tulum-beach-sun.jpg" alt="" >
                        </li>
                    </ul>

                    <div class="uk-light">
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>

                <div class="uk-card-header">
                    <h3 class="uk-card-title">Hungary</h3>
                </div>

            </div>
        </div>

        {{!-- Button to catalogue --}}
        <div class="uk-container uk-text-center">
            <a id="button" class="uk-button uk-button-text" href="/country/catalogue">Click to know more!</a>
        </div>

    </div>

{{!-- Examples section --}}
    <div class="uk-container uk-container-large uk-height-medium uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-scrollspy="cls: uk-animation-fade; target: h1, p; delay: 400;">

        <div class="uk-container uk-container-small">
            <h1 class="uk-heading-line uk-text-center"><span>Heading Line</span></h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusamus aperiam voluptate tempore aliquid praesentium dicta esse nesciunt provident vel enim magnam dolore odit voluptatem.</p>
        </div>

    </div>

{{!-- Examples --}}
    <div class="uk-child-width-expand@s" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card, h3, p; delay: 400;">

        <div class="uk-grid-item-match">
            <div class="uk-card uk-card-default uk-card-body">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div>
            <h3>Heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

    </div>

{{!-- About section --}}
    <div class="uk-container uk-container-large uk-height-medium uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-scrollspy="cls: uk-animation-fade; target: h1, p, a; delay: 400;">

        <div class="uk-container uk-container-small">

            <h1 class="uk-heading-line uk-text-center"><span>About</span></h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusamus aperiam voluptate tempore aliquid praesentium dicta esse nesciunt provident vel enim magnam dolore odit voluptatem.</p>

        </div>
        
        {{!-- Button to catalogue --}}
        <div class="uk-container">
            <a id="buttonAbout" class="uk-button uk-button-text" href="/about">Click to find out!</a>
        </div>

    </div>    

    

