
    
    <div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-grid>

        {{!-- Welcome and buttons --}}
        <div>
            <div class="uk-card uk-card-body uk-flex uk-flex-column uk-flex-center uk-flex-middle">
                <h1 id="indexHeading">Welcome</h1>
                <h3 class="uk-text-center uk-text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>

                {{!-- <div class="uk-container uk-flex uk-flex-center uk-flex-middle uk-grid-match uk-grid-small">
                    <div class="uk-card">
                        <a class="uk-button uk-button-default" href="/auth/login">Login</a>
                    </div>
                    <div class="uk-card">
                        <a class="uk-button uk-button-secondary" href="/auth/signup">Signup</a>
                    </div>
                </div> --}}
            </div>
        </div>

        {{!-- Image --}}
        <div>
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 3:4; animation: fade; autoplay: true; autoplay-interval: 6000" tabindex="-1" uk-slideshow>

                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://www.momondo.com/discover/wp-content/uploads/sites/260/2020/02/DEST_NORWAY_LOFOTEN_GettyImages-1050245738_Universal_Within-usage-period_37137-1500x1312.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://newsblazelive.com/wp-content/uploads/2021/06/senior-citizens-travel-insurance_cd09659466.jpeg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://www.destinationanalysts.com/wp-content/uploads/2020/05/image-1030x626.png" alt="" uk-cover>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                </div>

            </div>
        </div>

    </div>
