<div class="uk-child-width-1-3@m uk-flex uk-flex-center uk-flex-middle" uk-grid>

    {{!-- Slideshow of posts --}}
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 3:4; animation: fade; autoplay: true; autoplay-interval: 6000" tabindex="-1" uk-slideshow>

                <ul class="uk-slideshow-items">

                    {{#each post}}
                    <li>    
                        <img src="{{ image }}" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">{{ title }}</h3>
                            <p>{{ country }}</p>
                            <a class="uk-button uk-button-text" href="/post">Read more</a>
                        </div>
                    </li>
                    {{/each}}

                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        </div>
    </div>

    {{!-- Search form --}}
    <div class="uk-card">
        <div class="country-text">

            <h1 class="main-country">Countries:</h1>

            <p class="flag-text-country">Which one are you looking for ?</p>

                    

                    {{!-- <button class="dropdown-toggle country-list" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>Country</strong>
                    </button> --}}

            <form class="dropdown country-enter1" action="/country/eachCountry">

                <label for="country-select">Country:</label>
                <select class="date-rect" name="country" id="country-select">
                    <option value="">Please choose a country</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Canada">Canada</option>
                    <option value="Chile">Chile</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Hungria">Hungria</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Usa">Usa</option>            
                </select>

                <div>
                    <button type="submit" class="country-list country-enter2">Search</button>
                </div>
                    
                    
                    
            </form>
        
        
        </div>

    </div>
</div>




