<div class="container-fluid d-flex col main-div-catalogue">

    
    {{!------------ //probando otra forma para presentar el catalogo ---------------------}}
    
    


    <h1>Countries:</h1>
    
    <div class="country-text">
        
        <h1 class="title-catalogue">Countries:</h1>
        <p class="text-catalogue">Which one are you looking for?</p>

        <div class="dropdown country-enter1">

          <button class="dropdown-toggle country-list" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>Country</strong>
          </button>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Argentina</a></li>
            <li><a class="dropdown-item" href="#">Bolivia</a></li>
            <li><a class="dropdown-item" href="#">Brasil</a></li>
            <li><a class="dropdown-item" href="#">Canada</a></li>
            <li><a class="dropdown-item" href="#">Chile</a></li>
            <li><a class="dropdown-item" href="#">Colombia</a></li>
            <li><a class="dropdown-item" href="#">Hungria</a></li>
            <li><a class="dropdown-item" href="#">Mexico</a></li>
            <li><a class="dropdown-item" href="#">Usa</a></li>            
          </ul>

        </div>

        <div >
          <a href="/country/eachCountry"><button type="submit" class="country-list country-enter2">Search</button></a>
        </div>
    </div>
</div>