@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Noto+Sans:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Noto+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 1s ease-out; */
}
/* barra de navegacion */
.fondo{
  background-color: #D4E09B;
}

.navbar{
  padding: 2rem;
  background-color: #D4E09B;
}
.nav-bar-container{
  display: flex;
  align-items: center;
}
.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}
i{
  font-size: 30px;
}
.btn-layout{
  display: flex;
}
.user-name{
  font-family: 'Noto Sans', sans-serif;
  padding-right: 10px;
  font-size: 25px;
  color: #3D405B;
}
.pic-default-navbar{
  padding: 0 10px 0 0;
  width: 4vw;
  height: 6vh;
}
/* icono responsivo */
@media screen and (max-width: 767px) {
  .navbar-brand{
    display: none;
  }
}
.login-layout{
  margin-right: 10px;
}

/* login */
.form-login{
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.login-container{
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pic-login{
  width: 300px;
  height: 250px;
  border-radius: 25% 10%;
  padding: 20px;
}
.fondo-login{
  background-color: #FEFAE0;
  width: 100vw;
  height: 100vh;
}
.btn-login{
  background-color: #FEFAE0;
}

/* signup */
.form-signup{
  display: flex;
}
.pic-signup{
  width: 400px;
  height: 300px;
  border-radius: 40%;
  padding: 20px 20px 20px 40px;
}
.center-title{
  display: flex;
  padding-bottom: 40px;
  align-content: stretch;
}
.signup-font{
  margin-top: -50px;
}
.signup-font > label, input{
  font-family: 'Noto Sans', sans-serif;
  color:#000000;
}
.date-rect{
  font-family: 'Noto Sans', sans-serif;
  border-radius: 5px;
  height: 5vh;
  border-color: #888ec0;
  border-width: thin;
}

/* catalogue */
.main-div-catalogue {
  height: 100vh;
  padding: 40px 30px;
  background-color: #FEFAE0;
  background-size: cover;
}
.country-text{
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: white;
  border: 1px solid;
  border-color: white;
  border-radius: 5px;
}
.title-catalogue{
  color: #020000;
  font-family: 'Libre Bodoni', serif;
  font-size: 40px;
}
/* .row-pics{
  flex-direction: row;
  align-content: center;
  width: 70vw;
} */
.row-pics1{
  padding: 20px;
  flex-direction: column;
  align-content: center;
  width: 50vw;
}
.row-pics1 img {
  margin: 10px;
  width: 170px;
  height: 140px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card-country{
  margin: 0;
  padding: 0;
}
.text-cataloque{
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  color: #3D405B;
  text-align: center;
}
.country-list{
  font-family: 'Noto Sans', sans-serif;
  color: #070c35;
  background-color: #CCD5AE;
  border-color: grey;
  border-width: thin;
  border-radius: 5px;
  margin: 0 20px;
  width: 25%;
  height: 35px;
}
button:hover{
  color: white;
  background-color: rgb(36, 97, 36);
}
.country-enter1{
  margin-top: 5px;
}
.country-enter1 > button {
  font-weight: 200;
}
.country-enter2{
  margin-top: 15px;
}
/* Profile */
.user-default{
  font-size: 250px;
  color:#81B29A;
}
.main-div-profile{
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  background-color: #FEFAE0;
  padding: 30px;
}
.container-profile{
  background-color: #E9EDC9;
  padding-left: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.about-profile{
  font-family: 'Noto Sans', sans-serif;
  width: 45vw;
  color: #3D405B;
  padding-top: 40px;
}
.about-profile p{
  line-height: initial;
  padding: 10px;
  padding-right: 60px;
}
.div-profile-card{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.list-profile{
  list-style: none;
  line-height: initial;
  padding: 10px;
}
.bolder-text-profile{
  font-weight: bolder;
}
/* eachCountry */
.to-move-center{
  padding-top: 90px;
}

.slide-pics{
  height: 450px;
}
.flags{
  width: 15vw;
  height: 20vh;
  border-radius: 10px;
  margin: 0 20px 0;
}
.flag-text-country{
  display:flex;
  align-items: center;
  
}
.flag-text-country p{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  color: #3D405B;
  font-weight: bolder;
}
.main-country{
  text-align: center;
  color: #A44A3F;
  font-family: 'Libre Bodoni', serif;
}
.info-countries, .country-search{
  margin:0;
}
.info-countries{
  padding-bottom:15px;
  height: 50vh;
}
.main-div-eachCountry{
  padding-top: 0px;
}
.container-for-country{
  background-color: #FAEDCD;
  border-style: none;
  display: flex;
}
.country-search{
  background-color: #FAEDCD;
  border-style: none;
  margin: 0;
  width: 30vw;
  height: 40vh;
  line-height:0;
  padding: 0;
}

#cards {
  margin-top: 100px;
}

#button {
  padding-left: 0;
  padding-right: 0;
  margin-top: 100px;
  margin-bottom: 100px;
}

#buttonAbout {
  margin-top: 50px;
}

#header {
  margin-bottom: 50px;
}

#developersTitle, #repository {
  margin: 50px auto;
}
.content-next-pic {
  padding: 0;
}
.content2-eachCountry{
  padding: 0;
  margin-bottom: 0;
}
/* barra de navegacion */
.fondo{
  background-color: #ffff;
}

.navbar{
  padding: 2rem;
  background-color: #ffff;
}
.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}
i{
  font-size: 30px;
}
.btn-layout{
  display: flex;
}
/* icono responsivo */
@media screen and (max-width: 767px) {
  .navbar-brand{
    display: none;
  }
}

/* login */
.form-login{
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.login-container{
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pic-login{
  width: 300px;
  height: 250px;
  border-radius: 25% 10%;
  padding: 20px;
}
.fondo-login{
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}
.fondo-login-padding{
  padding-top: 100px;
}

/* signup */
.form-signup{
  display: flex;
}
.pic-signup{
  width: 400px;
  height: 300px;
  border-radius: 40%;
  padding: 20px 20px 20px 40px;
}
.center-title{
  display: flex;
  align-content: stretch;
}

#orangeButton {
  background-color: #E66155;
  color: white;
}

#orangeLogo, #indexHeading, #login, #signup {
color: #E66155;
font-family: 'Libre Baskerville', serif;
}

#orangeName {
  color: #E66155;
}