{{!-- Grid for the image and form --}}
<div class="uk-child-width-1-3@m uk-grid-match uk-grid-large uk-flex uk-flex-middle uk-flex-center" uk-grid>

    {{!-- Form--}}
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <form action="/create/{{currentUser._id}}" method="post">
                    <h2 id="createPostTitle">Tell us about your story!</h2>
                    
                {{!-- Inputs --}}
                <fieldset class="uk-fieldset">

                    {{!-- Input for the title of the story --}}
                    <legend class="uk-legend">Title</legend>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="The most beautiful beach!" name="title">
                    </div>
                        
                    {{!-- Input for the country --}}
                    <legend class="uk-legend">In which country?</legend>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Mexico" name="country">
                    </div>
                        
                    {{!-- input for the date --}}
                    <legend class="uk-legend">When was it?</legend>
                    <div class="uk-margin">
                        <input class="uk-input" type="date" name="date">
                    </div>

                    {{!-- Input for the story --}}
                    <legend class="uk-legend">What's your story?</legend>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="6" placeholder="When I was backpacking on..." name="text"></textarea>
                    </div>

                    {{!-- Input for a phot link --}}
                    <legend class="uk-legend">Add a Photo!</legend>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Paste the link of you image here" name="image">
                    </div>

                    {{!-- Button to post --}}
                    <div class="uk-margin uk-flex uk-flex-column uk-flex-middle">
                        <button id="createPostButton" class="uk-button uk-button-default uk-width-1-1" type="submit">Post!</button>
                    </div>
                </fieldset>
                
            </form> 
        </div>
    </div>

    {{!-- Image slideshow --}}
    <div class="uk-margin-large-left">
            <div class="uk-card uk-card-default uk-card-body">

                <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 3:4; animation: fade; autoplay: true; autoplay-interval: 6000" tabindex="-1" uk-slideshow>

                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://www.racq.com.au/-/media/project/racqgroup/racq/articles/holidays/2022/6/woman-on-overseas-holilday.jpg?rev=51706da208c84ae6b894b4acfec8f073" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://travelnevada.com/wp-content/uploads/2022/09/Homepage_Featured-1.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img src="https://www.intrepidgroup.travel/sites/default/files/2018-07/home-banner-02%402x.jpg" alt="" uk-cover>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

                </div>

            </div>
    </div>

</div>    



